<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Unser Angebot</h2>
                    <h3 class="section-subheading text-muted">
Wir sind ein zertifizierter Heizungsbauerbetrieb in Ilmenau und seit &uuml;ber 30 Jahren im
Gesch&auml;ft.
</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Planung</h4>
                    <p class="text-muted">Auslegung und Auswahl von
                    W&auml;rmepumpen f&uuml;r Ihren Neubau oder Ihren Bestand.
                    <br>
                    Integration und Anpassung vorhandener Installation.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-key fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ausf&uuml;hrung</h4>
                    <p class="text-muted">Transparente Preisgestaltung mit einem
                    Blick f&uuml;r flexible und preiswerte L&ouml;sungen. <br>
 Einbau mit eigenem Team und in Zusammenarbeit mit lokalen Handwerksbetrieben und dem Netzbetreiber.
</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-compass fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">F&ouml;rderung</h4>
                    <p class="text-muted">Unterst&uuml;tzung bei Beantragung und
                    Abwicklung der F&ouml;rderung (aktuell ist bis zu 70% m&ouml;glich)
                    &uuml;ber die KfW.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Individuelle Beratung</h4>
                    <p class="text-muted">
                        Vereinbaren Sie einen Termin und wir besprechen zeitnah und unverbindlich
                    <ol>
                        <li>Welche Wärmepumpe passt zu Ihrem Haus?</li>
                        <li>Kann die bestehende Heizungsinstallation genutzt werden?</li>
                        <li>Welche Maßnahmen bis zur neuen Heizung?</li>
                    </ol>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-phone-square fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Kontakt</h4>
                    <p class="text-muted">
                        Rufen Sie uns an oder schreiben Sie
                    <ul>
                        <li>Telefon: 01590 1996800</li>
                        <li>Email: jekat80@gmail.com</li>
                    </ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Leistungen</h4>
                    <p class="text-muted">
                       Alles aus einer Hand
                    <ul>
                        <li>W&auml;rmepumpen und andere Heizsysteme</li>
                        <li>Einbau, Wartung, Reparatur</li>
                        <li>Photovoltaik, Photothermie, Speicher</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
